{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags staticfiles %}

{% block left_panel %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Children</strong></div>

    <div class="list-group">
        {% for x in page.children.all %}
        <a class="list-group-item" href="{{ x.get_absolute_url }}">{{ x.title }}</a>
        {% empty %}
            <div class="list-group-item text-muted"><i>No children</i></div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block main %}
    {% set_page_permissions page %}


    <div class="col-md-4 col-sm-4">
    <div class="panel panel-default">
    <div class="panel-heading">
        <strong>Data</strong>
        {% if page.perms.add %}
                <a href="{% url "admin:geocms_dataresource_add" %}?associated_pages={{ page.pk }}" class="btn btn-default btn-xs pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
        {% endif %}
    </div>

    <div class="list-group">
        {% for x in page.data_resources.all %}
        <a class="list-group-item" href="{{ x.get_absolute_url }}">{{ x.title }}</a>
        {% empty %}
            <div class="list-group-item text-muted"><i>No data</i></div>
        {% endfor %}
    </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>Layers</strong>
        {% if page.perms.add %}
            <a href="{% url "admin:geocms_layer_add" %}?associated_pages={{ page.pk }}" class="btn btn-default btn-xs pull-right">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
    </div>
    <div class="list-group">
        {% for x in page.layers.all %}
        <a class="list-group-item" href="{{ x.get_absolute_url }}">{{ x.title }}</a>
        {% empty %}
            <div class="list-group-item text-muted"><i>No layers</i></div>
        {% endfor %}
    </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Collections</strong>
            {% if page.perms.add %}
                <a href="{% url "admin:geocms_layercollection_add" %}?associated_pages={{ page.pk }}" class="btn btn-default btn-xs pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            {% endif %}
        </div>
    <div class="list-group">
        {% for x in page.layer_collections.all %}
        <a class="list-group-item" href="{{ x.get_absolute_url }}">{{ x.title }}</a>
        {% empty %}
            <div class="list-group-item text-muted"><i>No collections</i></div>
        {% endfor %}
    </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Styles</strong>
        {% if page.perms.add %}
                <a href="{% url "admin:geocms_style_add" %}?associated_pages={{ page.pk }}" class="btn btn-default btn-xs pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
        {% endif %}
        </div>
    <div class="list-group">
        {% for x in page.styles.all %}
        <a class="list-group-item" href="{{ x.get_absolute_url }}">{{ x.title }}</a>
        {% empty %}
            <div class="list-group-item text-muted"><i>No styles</i></div>
        {% endfor %}
    </div>
    </div>
    </div>




{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-treeview.min.css" %}"/>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/bootstrap-treeview.min.css" %}"></script>
{% endblock %}