{% extends "base.html" %}
{% load mezzanine_tags pages_tags geoanalytics_tags staticfiles %}

{% block main %}{{ block.super }}
    <h1>{{ layer.title }}</h1>
    <div class='map' id="map" style='width: 100%;'></div>
    <div class="col-md-6" id="fullscreen"></div>
    <h6><a href="{{ layer.data_resource.get_absolute_url }}">Link to original data and web-services.</a></h6>
    {% if layer.default_style.legend %}
    <p><img src='{{layer.default_style.legend.url}}'/></p>
    {% endif %}

    {% if layer.description %}
    {{ layer.description|md|safe }}
    {% endif %}

    <h4>Available Styles</h4>
    <p><b>Default: </b><a href="{{ layer.default_style.get_absolute_url }}">{{ layer.default_style.title }}</a></p>

    <div class="row">

        <div class="col-md-3">
            <ul class='nav nav-list'>
                <li class="nav-header">Edit or view stylesheet</li>
                {% for style in layer.styles.all %}
                    <li><a href="{{ style.get_absolute_url }}">View or edit {{ style.title }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-md-3">
            <ul class='nav nav-list'>
                <li class="nav-header">Render layer with style</li>
                {% for style in layer.styles.all %}

                    <li><a href="{{ layer.get_absolute_url }}?style={{ style.slug }}">View layer
                            as {{ style.title }} style</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-list">
                <li class="nav-header">WMS web services</li>
                {% for style in layer.styles.all %}
                    <li><a href="{% url "wms" %}?version=1.1.0&service=WMS&styles={{ style.slug }}&layers={{ layer.slug }}">Layer as {{ style.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-list">
                <li class="nav-header">TMS web services</li>
                {% for style in layer.styles.all %}
                    <li><a href="{% url "tms" layer=layer.slug %}?&style={{ style.slug }}">Layer as {{ style.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/ol.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var LAYER = {
        url: "{% url "tms" layer=layer.slug %}",
        attribution: null,
        styles: "",
        extent: "{{ metadata.bounding_box.wkt }}"
    }
    </script>
    <script src="{% static 'geocms/layer.js' %}" type="text/javascript"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/ol.css" %}" />
{% endblock %}