{% extends 'pages/page.html' %}
{% load mezzanine_tags pages_tags geoanalytics_tags staticfiles %}

{% block meta_title %}{{ style.title }}{% endblock %}

{% block title %}{{ style.title }} <small>Style</small>{% endblock %}

{% block breadcrumb_menu %}
    <li><strong>Related</strong></li>
    <li class="dropdown">
        <a class="dropdown-toggle" id="relatedPages" data-toggle="relatedPagesDropdown" aria-expanded="true">In Groups <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for p in style.associated_pages.all %}
            <li><a role="menuitem" tabindex="-1" href="{{ p.get_absolute_url }}">{{ p.titles }}</a></li>
            {% endfor %}
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" id="relatedLayers" data-toggle="relatedLayersDropdown">Layers <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

            {% for l in style.layers.all %}
            <li><a href="{{ l.get_absolute_url }}">{{ l.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block main %}
    <pre><code class="language-css">{{ style.stylesheet }}</code></pre>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/prism.js" %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/prism.css" %}"/>
{% endblock %}

{% comment %}
{% block extra_js %}
        <script src="{% static 'js/ol.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var LAYER = {
        url: "{% url "tms" layer=layer.slug %}",
        attribution: null,
        styles: "",
        extent: "{{ metadata.bounding_box.wkt }}"
    }
    </script>
    <script src="{% static 'geocms/layer.js' %}" type="text/javascript"></script>

{% endblock %}
{% endcomment %}